asgiref==3.8.1
autopep8==2.3.2
bcrypt==3.2.2
blinker==1.9.0
cffi==1.17.1
click==8.2.1
Flask==3.0.3
Flask-Cors==4.0.1
gunicorn==22.0.0
h11==0.16.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
marshmallow==4.0.1
packaging==25.0
passlib==1.7.4
pycodestyle==2.14.0
pycparser==2.22
PyJWT==2.9.0
PyMySQL==1.1.1
pyotp==2.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
six==1.17.0
uuid6==2025.0.1
uvicorn==0.30.1
Werkzeug==3.1.3
